*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
a.text:active, 
a.text:hover,
a.text:visited, 
a{
    text-decoration: none;
    color: white;
}
.title{
    display: flex;
    justify-content: center;
    font-weight: 700;
    font-size: 110%;
    color: rgba(255, 255, 255, 0.832);
}
.leftCol{
    background: linear-gradient(rgba(75, 107, 252, 0.671), rgb(255, 123, 189));
    padding: 1vw;
    text-align: center;
}
body{
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    color: white;
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-columns: 3fr 3fr;
    line-height: 28px;
}
.aboutMe{
    padding: 1vw;
    justify-content: center;
    text-align: center;
}
.myPhoto{
    display: flex;
    align-content: center;
    justify-content: center;
    background-image: url(../images/lines.png);
    background-size: cover;
}
.myPhoto img{
    display: flex;
    align-content: center;
    justify-content: center;
    object-fit: cover;
    width: 200px;
    height: 200px;
    border-radius: 100%;
}
.skill{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
}
progress {
    width: 200px;
    height: 10px;
    border: none;
    border-radius: 10px;
    background-color: #f1f1f1;
}

progress::-webkit-progress-value {
    background-color: #e0cdff;
}

progress::-moz-progress-bar {
    background-color: #e0cdff;
}
.myContacts{
    padding-top: 2vh;
    display: flex;
    flex-wrap: wrap;
    justify-items: center;
    flex-direction: column;
}
.contactItem{
    display: flex;
    flex-direction: row;
    column-gap: 20px;
    row-gap: 30px;
    justify-content: center;
    align-content: center;
}
.hobbys{
    padding-top: 2vh;
}

/*******************************/
.rightCol{
    background: white;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 1vw;
    color: black;
    row-gap: 2vh;
    padding: 1vw;
}
.lightTitle{
    display: flex;
    
    justify-content: center;
    font-weight: 700;
    font-size: 110%;
    color: rgb(43, 77, 120);
}
.rightColParagraph{
    display: grid;
    grid-template-columns: 1fr 9fr;
    text-align: justify;
}
aside{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.asideHr{
    width: 2px;
    border: none;
    background-color: rgba(75, 107, 252, 0.671);
    height: 80%;
}
.mainColored{
    color: rgb(43, 77, 120);
}
.themeDescription{
    padding: 1vh 1vw 1vh 1vw;
}






/*******************************/

@media screen and (min-width: 1824px){
    html{
        background-color: rgba(75, 108, 252, 0.322);
    }
    body{
        margin: 0 auto;
        width: 70vw;
        height: 100vh;
        display: grid;
        grid-template-columns: 3fr 3fr;
    }
}
@media screen and (max-width:900px){
    body{
        width: 100%;
        height: 100vh;
        display: flex;
        flex-direction: column;
        line-height: 28px;
    }
    .rightCol{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
    }
    aside{
        display: none;
    }
    .rightColParagraph{
        display: flex;
        flex-direction: column;
        padding: 0 1vw 0 1vw;
    }
}
